# Data
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Python cache
__pycache__/
*.py[cod]
*$py.class

# OS & System Files
.DS_Store
Thumbs.db
.Spotlight-V100
.Trashes

# Virtual Environments
venv/
env/
.venv/
.env

# FastAPI / Pytest Cache
.pytest_cache/
.coverage

# Frontend (React / Vite)
# Dependencies
frontend/node_modules/
frontend/npm-debug.log
frontend/yarn-error.log

# Production Build Output
frontend/dist/
frontend/build/

# Environment Variables (Frontend)
frontend/.env
frontend/.env.local

# Models: 
models/*.pkl
models/model_metrics.json